{% extends 'layout.html.twig' %}

{% block content %}
    <h2 class="text-center">Spielplan</h2>
    <hr>

    <span class="h3 p2">Ihr aktuelles Filmprogramm vom {{ "last Thursday"|date('d.m.Y') }} bis {{ "next Thursday"|date('d.m.Y') }}</span>
    {% for movie in movies %}
        <div class="shadow-hover">
            <div class="row p1 cinemaShow">
                <div class="col-xs-3 col-md-3 col-lg-2">
                    <img class="movieImage" src="{{ asset('/movieImages/'~movie.image) }}"/>
                </div>
                <div class="col-xs-9 col-md-9 col-lg-10">
                    <img class="pull-right fskImage" src="
                    {% if movie.ageRating == "0" %}
                        {{ asset('fsk-logo/fsk0.svg.png') }}
                    {% elseif movie.ageRating == "6" %}
                        {{ asset('fsk-logo/fsk6.png') }}
                    {% elseif movie.ageRating == "12" %}
                        {{ asset('fsk-logo/fsk12.svg.png') }}
                    {% elseif movie.ageRating == "16" %}
                        {{ asset('fsk-logo/fsk16.png') }}
                    {% else %}
                        {{ asset('fsk-logo/fsk18.svg.png') }}
                    {% endif %}
                    "/>
                    <h2 class="">{{ movie.name }}</h2>

                    <div class="table-responsive">
                         <span>
                            <strong>L&auml;nge: </strong>{{ movie.duration }} Min. &emsp;
                            <strong class="test">3D: </strong>{% if movie.is3d %} ja {% else %} nein {% endif %}&emsp;
                            <strong class="test">Preis: </strong>{% if movie.normalPrice %} {{ movie.normalPrice|number_format(2, ',', '.') }} € {% else %} ? {% endif %}&emsp;
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-md-9 col-lg-10 timetable">
                    <ul class="list-style-type-none m0 p0 showTable">
                        <li class="pull-left">Donnerstag</li>
                        <li class="pull-left">Freitag</li>
                        <li class="pull-left">Samstag</li>
                        <li class="pull-left">Sonntag</li>
                        <li class="pull-left">Montag</li>
                        <li class="pull-left">Dienstag</li>
                        <li class="">Mittwoch</li>

                        <br>
                        {% for day in movie.cinemaShows %}
                            <ul class="pull-left list-style-type-none m0 p0 showField">
                                {% if day is empty %}
                                    &nbsp; {# placeholder for empty fields #}
                                {% endif %}

                                {% for entry in day %}
                                    <li class="p0">{{ entry.date|date('H:i') }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
                </div>
                <br>
                <div class="col-xs-3 col-md-3 col-lg-2 mt1">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#{{ movie.id }}">
                        Beschreibung
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ movie.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ movie.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ movie.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}