<!DOCTYPE html>
<html lang="DE-de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Kinomaxx{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}

        {% include 'partials/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}
        {% include 'partials/impressum.html.twig' %}


    </body>
</html>