{% extends 'layout.html.twig' %}

{% block crumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a></li>
        <li class="active">Filme</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Filme <small class="pull-right"><a class="btn btn-success btn-block" href="{{ path('movie_create') }}">+ Erstellen</a></small></h1>
    </div>

    {% if movies is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Altersfreigabe</th>
                    <th>Laufzeit (min)</th>
                    <th>3D</th>
                    <th>Überlange</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.description|slice(0,100) }}...</td>
                    <td>{{ movie.ageRating }} J.</td>
                    <td>{{ movie.duration }}</td>
                    <td>{% if movie.is3d %}JA{% else %}Nein{% endif %}</td>
                    <td>{% if movie.overtime %}JA{% else %}Nein{% endif %}</td>
                    <td class=""><a href="{{ path('movie_edit', {'id': movie.id}) }}"><span class="glyphicon glyphicon glyphicon-pencil"></span></a></td>
                    <td class=""><a href="{{ path('movie_remove', {'id': movie.id}) }}"><span class="glyphicon glyphicon glyphicon-remove"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <b>Keine Filme eingetragen</b>
    {% endif %}
{% endblock %}