{% extends 'layout.html.twig' %}

{% block crumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a></li>
        <li><a href="{{ path('show_index') }}">Vorstellungen</a></li>
        <li class="active">Erstellen</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Vorstellung erstellen<small class="pull-right"><a class="btn btn-default btn-block" href="{{ path('show_index') }}">Abbrechen</a></small></h1>
    </div>

    <div class="alert alert-warning" role="alert">Vorstellungen dürfen nicht um 00:00 Uhr stattfinden!</div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success pull-right">Speichern</button>
    {{ form_end(form) }}
{% endblock %}