{% extends 'layout.html.twig' %}

{% block crumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a></li>
        <li class="active">S채le</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>S채le <small class="pull-right"><a class="btn btn-success btn-block" href="{{ path('hall_create') }}">+ Erstellen</a></small></h1>
    </div>

    {% if halls is not empty %}
        {#
            <ul class="list-group">
                {% for hall in halls %}
                    <li class="list-group-item">{{ hall.name }}</li>
                {% endfor %}
            </ul>
        #}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sitzpl&auml;tze<br>Normal</th>
                    <th>Sitzpl&auml;tze<br>Rollstuhlfahrer</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for hall in halls %}
                    <tr>
                        <td>{{ hall.name }}</td>
                        <td>{{ hall.numberOfSeatsNormal }}</td>
                        <td>{{ hall.numberOfSeatsHandicapped }}</td>
                        <td><a href="{{ path('hall_edit', {'id': hall.id}) }}"><span class="glyphicon glyphicon glyphicon-pencil"></span> </a></td>
                        <td class=""><a href="{{ path('hall_remove', {'id': hall.id}) }}"><span class="glyphicon glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    {% else %}
        <b>Keine S채채le eingetragen</b>
    {% endif %}
{% endblock %}